@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 8px;  
  height: 10%;
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-track {
  background: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 

::-webkit-scrollbar-thumb {
  border-radius: 8px;    
  background: rgb(234 88 12);
}

@keyframes bottomUp {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }  
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rigtToLeftRoll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes InvisibleIt {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }

}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }

}

@keyframes invisibleToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }

}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }

}

@keyframes bottomTotop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes topTobottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@media (min-width: 340px) {
  @keyframes expandWidthtoFull {   
    from {
      width: 55%;
    }
    to {
      width: 155%;
    }
  }
  @keyframes expandWidth {
    from {
      width: 0;
    }
    to {
      width: 55%;
    }
  }
}
@media (min-width: 1025px) {
  @keyframes expandWidthtoFull {   
    from {
      width: 100%;
    }
    to {
      width: 250%;
    }
  }
  
  @keyframes expandWidth {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
}

.horizontal-line-to-full{
  animation: expandWidthtoFull 1s forwards;
}


.horizontal-line{
  animation: expandWidth 2s forwards;
}

.topTobottom{
  animation:topTobottom 1s forwards;
}

.bottomTotop{
  animation:bottomTotop 1s forwards;
}

.slideRight{
  animation:slideRight 1s forwards;
}

.slideLeft{
  animation:slideLeft 1s forwards;
}

.invisible-it{
  animation: InvisibleIt 1s ease;
}

.HomePageGraphicText{
  animation: expand 1.3s ease-in-out;
}

.bottom-up{
  animation: bottomUp 3s ease-out;
}

.rigtToLeftRoll{
  animation: rigtToLeftRoll 20s linear infinite; /* Adjust the duration and timing function as needed */
  ;
}

.second-skill-delay{
  animation-delay: 2.5s;
}
