@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bottomUp {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(0%);
  }  
  100% {
    transform: translateY(-100%);
  }
}

@keyframes rigtToLeftRoll {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes InvisibleIt {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }

}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }

}

@keyframes invisibleToLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }

}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }

}

.slideLeft{
  animation:slideLeft 0.5s ease-in;
}

.invisible-it{
  animation: InvisibleIt 1s ease;
}

.HomePageGraphicText{
  animation: expand 1.3s ease-in-out;
}

.bottom-up{
  animation: bottomUp 3s ease-out;
}

.rigtToLeftRoll{
  animation: rigtToLeftRoll 20s linear infinite; /* Adjust the duration and timing function as needed */
  ;
}

.second-skill-delay{
  animation-delay: 2.5s;
}